#block access to .htaccess and .htpasswd files
<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>

#change the error documents
ErrorDocument 401 asset/error/401.html
ErrorDocument 403 asset/error/403.html
ErrorDocument 404 asset/error/404.html
ErrorDocument 500 asset/error/500.html

#set index.html as default page in a directory
DirectoryIndex index.html index.php
order deny,allow

#setup url rewritting
RewriteEngine on
RewriteCond $1 !^(index\.php|index\.html|asset|blog|docs|test|robots\.txt)
RewriteRule ^(.*)$ ./index.php/$1 [L]